<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%-appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body ng-app="<%-appname %>">
  
  <div class="container">
    <div class="container" ui-view></div>
  </div>
  <script>
    //define so emitter won't fail
    module=window;
    Object.defineProperty(module, "exports", {get : function(){ return window; },
     set : function(newValue){ window[newValue]=newValue; },
     enumerable : true,
     configurable : true});
  </script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/emitter/index.js"></script>
  <script src="bower_components/node-querystring/index.js"></script>
  <script>
    qs={};
    qs.parse = parse;
    qs.stringify = stringify; 
  </script>
  <!-- NOTE: The SockJS component must be built with `make build` -->
  <script src="bower_components/sockjs-client/sockjs.min.js"></script>
  
  <script src="app.js"></script>
  <script src="constant/serverLocation.js"></script>
  <script src="service/SocketService.js"></script>
  <script src="service/RestService.js"></script>
  <script>
    var sessionId = "<@=sId@>";
  </script>
  <% 
    Object.keys(states).forEach(function(stateName){ 
      var state = states[stateName];
      
  %>
        <script src="controller/<%= state.friendly %>.js"></script>
  <%
      Object.keys(state.elements).forEach(function(actionName){
        if(actionName == "init"){
  %>
        <script ng-src="{{serverLocation+'<%-state.url.replace(".","/")%>/allInOne.js'}}"></script>
  <%   }  %>
    <script src="controller/custom/<%= state.friendly %>.<%-actionName%>.js"></script>
  <%  
      });
    });%>
  
  
  
</body>
</html>